.Film-block {
    background-color: rgb(192, 192, 221);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin-bottom: 10px;
}

.film-info{
    display: flex;
    flex-direction: row;
}

.film-name {
    opacity: 0.7;
    font-size: 80%;
}

.film-rating {
    color: green;
    font-size: 110%;
    font-weight: bold;
    margin-left: auto;
}

.film-localizedname {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 110%;
    width: 80%;
}