.App {
    display: flex;
    flex-direction: column;
}

.App-header {
    border-bottom: 1px solid rgb(15, 15, 15);
    background-color: white;
    overflow: visible;
    width: 100%;
    color: black;
    text-align: center;
}

.Toolbar {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.sort-button {
    background-color: rgb(192, 192, 221);
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
}
